<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="searchDoc">Search Document</label>
          <input [(ngModel)]="searchText" name="searchDoc" type="text" class="form-control" id="searchDoc" aria-describedby="searchDoc" placeholder="Search">
        </div>
      </form>
    </div>
  </div>


  <div class="list-group" *ngFor="let item of lists | filter: searchText" [routerLink]="['/docdetails', item._id]">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.title}}</h5>
        <h4 class="mb-1">{{item._id}}</h4>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{item.description}}</p>
      <small>{{item.content}}</small>
    </a>
  </div>
</div>
