<!--The whole content below can be removed with the new code.-->
<div style="text-align:left">
  <div class="container">
    <!-- <h1>
    {{title}}!
  </h1> -->
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IIT OneStop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [routerLink]="['/about']">Home</a>
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </div>
  </nav>
    <nav>
      <!-- <a [routerLink]="['/list']">Component One</a> -->

    </nav>
    <br>
    <!-- <app-add-list></app-add-list> -->
    <router-outlet></router-outlet>
    <!--<app-view-list> </app-view-list>-->

  </div>
</div>
